{% assign skills = site.data.data.skills %} {% if skills %}

<style>
    .familiar .title {
    font-size: 18px;
    font-weight: 500;
    color: #2d7788;
    }

    .familiar .level-title {
    font-size: 14px;
    color: #545E6C;
  }
</style>

<section class="skills-section section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  <div class="skillset">
    {% for skill in skills.toolset %}
    <div class="item">
      <h3 class="level-title">{{ skill.name }}</h3>
      {% assign skill_level = 'width: ' | append: skill.level %}
      <div class="level-bar">
        <div class="level-bar-inner" style="{{skill_level}}"></div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->
    {% endfor %}
  </div>


  <div class="familiar">
    <h3 class = "title">
      Familiar with:
    </h3>
    {% for skill in skills.familiar %}
      <h3 class="level-title">{{ skill.name }}</h3>
    <!--//item-->
    {% endfor %}
  </div>
</section>
<!--//skills-section-->
{% endif %}
