<section class="volunteering-section">
    <h2 class="section-title">
        <div class="icon-container">
            <span class="fa-stack fa-xs">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-hand-holding-heart fa-stack-1x fa-inverse"></i>
            </span>
        </div>
        Volunteering
    </h2>

    <div>
        <div class="rasta">
            <a class="rasta-icon-container" href="https://summerschool.rastaiha.ir/">
                <img class="rasta-logo" src="./../my-data/rasta-logo.png">
            </a>
            <div class="details">
                <div class="rasta-title">
                    Executive team
                </div>
                <div class="rasta-summer">
                    Rasta (Summer School)
                </div>
                <div class="rasta-comp">
                    Sharif University of Technology &#183 University of Isfahan
                </div>
                <div class="rasta-comp">
                    August 2024
                </div>
            </div>
        </div>
    </div>
</section>